## Deployment target, e.g. dev, prod, etc.
# export cookcountyjail2_TARGET="dev"

## S3 configuration: Should scraped pages be stored on s3? If so, where?
# export cookcountyjail2_USE_S3_STORAGE="1"
# export cookcountyjail2_S3_BUCKET="cookcountyjail.il.propublica.org"

## Use local filesystem to store scraped pages (0 to disable, 1 to enable)
# export cookcountyjail2_USE_LOCAL_STORAGE="1"

## Maximum jail number to scan for.
# export cookcountyjail2_MAX_DEFAULT_JAIL_NUMBER="400"

## If no seed data is found, start scanning inmates starting at this date
# export cookcountyjail2_FALLBACK_START_DATE="2010-01-01"
